:root {
    --primary: #111B54;
    --light: #ffffff;
    --grey: #efefef;
}

body {
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--primary);
    //background-image: url("../image/parque.jpg");
    //background-size: cover;
    
}

a:hover {
    text-decoration: #B2E3A7;
    cursor:pointer;
}

.bg-primary { background-color: var(--primary) !important; }

.bg-light { background-color: var(--light) !important; }

.bg-grey { background-color: var(--grey) !important; }

.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }

.btn-primary {
    background-color: var(--primary);
    border: 0;
}

.btn-primary:hover {
    background-color: var(--primary);
}

#sidebar-container {
    display: inline-block;
    height: 100vh;
    border-radius: 0px !important;
    width: 200px;
}


#sidebar-container .menu {
    
}

#content,#submenu {
    
    //height: 100vh;

}

.avatar {
    max-width: 35px;
}

.btn-search {
    right: 0;
}

.stat {
    border-right: 1px solid var(--grey);
}

.nv{
    background: #9FB7D5;
    border-radius: 20px;
}

 /*
@media (max-width: 768px) {
    #sidebar-container {
      display: none;
    }
    .stat {
        border: 0;
    }
  }*/
  

.contenedor{
     
  
  }
  
.contenedorBotones{
      border-radius: 20px;
  }
  
  #submenu{
      width: 100%;
      
      
      
  }
  
  #divBtn{
      width: 100%;
  }
  
  
  #menuGame{
      position: absolute;
      display: inline-block;
      
      
  }
  
  .backgorund-Trans{
      background-color: rgba(255, 0, 0, 0.0) !important;
      
      
      
  }
  
  #tables{
      background: rgba(255, 0, 0, 0.0) !important;
  }
 